{% load static %}
{#Admin - Sidebar#}
{% if user.is_authenticated and user.user_type == 1 %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">{{ user.username }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'logout' %}" class="d-block">
            {{ request.user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          {#          <li class="nav-item has-treeview">#}
          {#            <a href="#" class="nav-link">#}
          {#              <i class="nav-icon fas fa-copy"></i>#}
          {#              <p>#}
          {#                Layout Options#}
          {#                <i class="fas fa-angle-left right"></i>#}
          {#                <span class="badge badge-info right">6</span>#}
          {#              </p>#}
          {#            </a>#}
          {#            <ul class="nav nav-treeview">#}
          {#              <li class="nav-item">#}
          {#                <a href="/layout-top-nav-sidebar.html" class="nav-link">#}
          {#                  <i class="far fa-circle nav-icon"></i>#}
          {#                  <p>Top Navigation + Sidebar</p>#}
          {#                </a>#}
          {#              </li>#}
          {##}
          {#            </ul>#}
          {#          </li>#}


          {#          <li class="nav-header">EXAMPLES</li>#}

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-newspaper"></i>
              <p>
                Job Listings
                {#                <span class="badge badge-info right">2</span>#}
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'showAllCompanies' %}" class="nav-link">
              <i class="nav-icon fa fa-building"></i>
              <p>
                Companies
                {#                <span class="badge badge-info right">2</span>#}
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-graduation-cap"></i>
              <p>
                Students
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endif %}



{#Student - Sidebar#}
{% if user.is_authenticated and user.user_type == 2 %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    {#    <a href="/" class="brand-link">#}
    {#      <img src="{{ user.pic.url}}" alt="AdminLTE Logo"#}
    {#           class="brand-image img-circle elevation-3"#}
    {#           style="opacity: .8">#}
    {#      <span class="brand-text font-weight-light">{{ user.username }}</span>#}
    {#    </a>#}

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if user.pic.url is not None %}
            <img src="{{ user.pic.url }}" class="img-circle elevation-2" alt="User Image">
          {% else %}
            <img src="/media/no-image.png" class="img-circle elevation-2" alt="User Image">
          {% endif %}
        </div>
        <div class="info">
          <a href="{% url 'logout' %}" class="d-block">
            {{ request.user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'showStudentProfile' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Student Profile
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'showAllQualifications' %}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Education Details List
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Companies Applied
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/gallery.html" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                View Resume
              </p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endif %}



{# Company - Sidebar#}
{% if user.is_authenticated and user.user_type == 3 %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="{% static 'assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">{{ user.username }}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if user.pic.url is not None %}
            <img src="{{ user.pic.url }}" class="img-circle elevation-2" alt="User Image">
          {% else %}
            <img src="/media/no-image.png" class="img-circle elevation-2" alt="User Image">
          {% endif %}
        </div>
        <div class="info">
          <a href="{% url 'logout' %}" class="d-block">
            {{ request.user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="{% url 'companyDashboard' %}" class="nav-link">
              <i class="nav-icon fa fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'editCompanyProfile' %}" class="nav-link">
              <i class="nav-icon fas fa-user-edit"></i>
              <p>
                Edit Profile
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>
                Jobs
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'addJob' %}" class="nav-link">
                  <i class="fa fa-plus-circle nav-icon"></i>
                  <p>Add new Job Post</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'showAllJobListings' %}" class="nav-link">
                  <i class="nav-icon fas fa-list-ul"></i>
                  <p>Edit Job Post</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="{% url 'showAboutCompany' %}" class="nav-link">
              <i class="nav-icon fa fa-info-circle"></i>
              <p>
                About Company
              </p>
            </a>
          </li>


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endif %}

