{% load static %}
{% load countries %}
{% get_countries as countries %}

<!doctype html>
<html lang="en">
<head>
  <title>Careers Ganpat University</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href={% static 'css/custom-bs.css' %}>
  <link rel="stylesheet" href={% static 'css/jquery.fancybox.min.css' %}>
  <link rel="stylesheet" href={% static 'css/bootstrap-select.min.css' %}>
  <link rel="stylesheet" href={% static 'fonts/icomoon/style.css' %}>
  <link rel="stylesheet" href={% static 'fonts/line-icons/style.css' %}>
  <link rel="stylesheet" href={% static 'css/owl.carousel.min.css' %}>
  <link rel="stylesheet" href={% static 'css/animate.min.css' %}>
  <link rel="stylesheet" href={% static 'css/style.css' %}>
</head>
<body id="top">


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="{% url 'home' %}">Careers</a></div>

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
            <li><a href="job-listings.html">Recruiters</a></li>
            <li><a href="services.html">Companies</a></li>
            <li><a href="{% url 'searchJobs' %}">Job Listings</a></li>


            {% if user.is_authenticated and user.user_type == 1 %}
              <li><a href="{% url 'adminDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% elif user.is_authenticated and user.user_type == 2 %}
              <li><a href="{% url 'studentDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% elif user.is_authenticated and user.user_type == 3 %}
              <li><a href="{% url 'companyDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}" class="smoothScroll">Login</a></li>
              <li><a href="{% url 'register' %}" class="smoothScroll">Register</a></li>
            {% endif %}

          </ul>
        </nav>

        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a href="{% url 'contactus' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                    class="mr-2 icon-paper-plane"></span>Contact Us</a>
          </div>

          {#          <a href="{% url 'contactus' %}" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span#}
          {#                  class="icon-menu h3 m-0 p-0 mt-2"></span></a>#}
        </div>

      </div>
    </div>
  </header>

  <!-- HOME -->
  <section class="home-section section-hero overlay bg-image"
           style="background-image: url({% static 'images/ganpatuiampics.png' %});" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">A Powerful Career Start With A Great Opportunities </h1>
            <p>"Find your dream jobs in our powerful career Opportunities !!"
              Welcome To Ganpat University Job Portal</p>
          </div>


          <form method="post" class="search-jobs-form" action="{% url 'searchJobs' %}">
            {% csrf_token %}


            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <input type="text" class="form-control form-control-lg" placeholder="Job title, keywords..."
                       name="job_title">
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select class="form-control">
                  {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select class="form-control">
                  <option>Part Time</option>
                  <option>Full Time</option>
                  <option>Freelancer</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
                        class="icon-search icon mr-2"></span>Search Job
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </section>

  <section class="py-5 bg-image overlay-primary fixed overlay"
           style="background-image: url({% static 'images/hero_1.jpg' %});">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2 text-white">Careers Statistics</h2>
          <p class="lead text-white">Some Counts</p>
        </div>
      </div>
      <div class="row pb-0 block__19738 section-counter">

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="1930">0</strong>
          </div>
          <span class="caption">Candidates</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="54">0</strong>
          </div>
          <span class="caption">Jobs Posted</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="120">0</strong>
          </div>
          <span class="caption">Jobs Filled</span>
        </div>

        <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="d-flex align-items-center justify-content-center mb-2">
            <strong class="number" data-number="550">0</strong>
          </div>
          <span class="caption">Companies</span>
        </div>


      </div>
    </div>
  </section>


  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h2 class="section-title mb-2">109,234 Job Listed</h2>
        </div>
      </div>


      <div class="mb-5">
        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-1.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-primary px-2 py-1 mb-3">Freelancer</span>
            <h2><a href="job-single.html">Dropbox Product Designer</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>Melbourn</h3>
            <span class="meta">Australia</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-2.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
            <h2><a href="job-single.html">Creative Director in Intercom</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>London</h3>
            <span class="meta">United Kingdom</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-3.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
            <h2><a href="job-single.html">FullStack Developer in Shopify</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>London</h3>
            <span class="meta">United Kingdom</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>
        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-4.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-primary px-2 py-1 mb-3">Freelancer</span>
            <h2><a href="job-single.html">Dropbox Product Designer</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>Melbourn</h3>
            <span class="meta">Australia</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-5.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
            <h2><a href="job-single.html">Creative Director in Intercom</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>London</h3>
            <span class="meta">United Kingdom</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-4.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
            <h2><a href="job-single.html">FullStack Developer in Shopify</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>London</h3>
            <span class="meta">United Kingdom</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

        <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
          <div class="col-md-2">
            <a href="job-single.html"><img src={% static 'images/featured-listing-3.jpg' %} alt="Image"
                                           class="img-fluid"></a>
          </div>
          <div class="col-md-4">
            <span class="badge badge-success px-2 py-1 mb-3">Part-time</span>
            <h2><a href="job-single.html">FullStack Developer in Shopify</a></h2>
            <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
          </div>
          <div class="col-md-3 text-left">
            <h3>London</h3>
            <span class="meta">United Kingdom</span>
          </div>
          <div class="col-md-3 text-md-right">
            <strong class="text-black">$60k &mdash; $100k</strong>
          </div>
        </div>

      </div>

      <div class="row pagination-wrap">

        <div class="col-md-6 text-center text-md-left">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Previous</a>
            <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="site-section py-4 mb-5 border-top">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-12 text-center mt-4 mb-5">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h2 class="section-title mb-2">Our Candidates Work In Company</h2>
              <p class="lead">Where You Grow High & High </p>
            </div>
          </div>

        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src={% static 'images/logo_mailchimp.svg' %} alt="Image" class="img-fluid logo-1">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src={% static 'images/logo_paypal.svg' %} alt="Image" class="img-fluid logo-2">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src={% static 'images/logo_stripe.svg' %} alt="Image" class="img-fluid logo-3">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src={% static 'images/logo_visa.svg' %} alt="Image" class="img-fluid logo-4">
        </div>
      </div>
    </div>
  </section>


  <section class="bg-light pt-5 testimony-full">

    <div class="owl-carousel single-carousel">


      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <img class="img-fluid mx-auto" src={% static 'images/person_1.jpg' %} alt="Image">
            <blockquote>
              <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores
                repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
              <p><cite> &mdash; Richard Anderson</cite></p>
            </blockquote>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <img class="img-fluid mx-auto" src={% static 'images/person_2.jpg' %} alt="Image">
            <blockquote>
              <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores
                repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
              <p><cite> &mdash; Chris Peters</cite></p>
            </blockquote>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Looking For A Job?</h2>
          <p class="mb-0 text-white lead">Follow US !! </p>
        </div>
        <div class="col-md-3 ml-auto">
          <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">


    <div class="container">
      <div class="row mb-5">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Search Trending</h3>
          <ul class="list-unstyled">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Web Developers</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Company</h3>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Support</h3>
          <ul class="list-unstyled">
            <li><a href="#">Support</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Contact Us</h3>
          <div class="footer-social">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved | This Website is for Ganpat University is made with <i
                  class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Developers Nidhi & Ketan</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>

<!-- SCRIPTS -->
<script src={% static 'js/jquery.min.js' %}></script>
<script src={% static 'js/bootstrap.bundle.min.js' %}></script>
<script src={% static 'js/isotope.pkgd.min.js' %}></script>
<script src={% static 'js/stickyfill.min.js' %}></script>
<script src={% static 'js/jquery.fancybox.min.js' %}></script>
<script src={% static 'js/jquery.easing.1.3.js' %}></script>
<script src={% static 'js/jquery.waypoints.min.js' %}></script>
<script src={% static 'js/jquery.animateNumber.min.js' %}></script>
<script src={% static 'js/owl.carousel.min.js' %}></script>

<script src={% static 'js/custom.js' %}></script>


</body>
</html>


{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{##}
{#  <title>Job Portal</title>#}
{#  <meta charset="UTF-8">#}
{#  <meta http-equiv="X-UA-Compatible" content="IE=Edge">#}
{#  <meta name="description" content="">#}
{#  <meta name="keywords" content="">#}
{#  <meta name="author" content="">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">#}
{##}
{#  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">#}
{#  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">#}
{#  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">#}
{##}
{#  <!-- MAIN CSS -->#}
{#  <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">#}
{##}
{#</head>#}
{#<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">#}
{##}
{#<!-- PRE LOADER -->#}
{#<section class="preloader">#}
{#  <div class="spinner">#}
{##}
{#    <span class="spinner-rotate"></span>#}
{##}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- MENU -->#}
{#<section class="navbar custom-navbar navbar-fixed-top" role="navigation">#}
{#  <div class="container">#}
{##}
{#    <div class="navbar-header">#}
{#      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#        <span class="icon icon-bar"></span>#}
{#        <span class="icon icon-bar"></span>#}
{#        <span class="icon icon-bar"></span>#}
{#      </button>#}
{##}
{#      <!-- lOGO TEXT HERE -->#}
{#      <a href="#" class="navbar-brand">Job Portal</a>#}
{#    </div>#}
{##}
{#    <!-- MENU LINKS -->#}
{#    <div class="collapse navbar-collapse">#}
{#      <ul class="nav navbar-nav navbar-nav-first">#}
{#        <li><a href="#top" class="smoothScroll">Home</a></li>#}
{#        <li><a href="#about" class="smoothScroll">About</a></li>#}
{#        <li><a href="#team" class="smoothScroll">Our Teachers</a></li>#}
{#        <li><a href="#courses" class="smoothScroll">Courses</a></li>#}
{#        <li><a href="#testimonial" class="smoothScroll">Reviews</a></li>#}
{#        <li><a href="#contact" class="smoothScroll">Contact</a></li>#}
{##}
{#        {% if user.is_authenticated and user.user_type == 1 %}#}
{#          <li><a href="{% url 'adminDashboard' %}" class="smoothScroll">Dashboard</a></li>#}
{#          <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>#}
{#        {% elif user.is_authenticated and user.user_type == 2 %}#}
{#          <li><a href="{% url 'studentDashboard' %}" class="smoothScroll">Dashboard</a></li>#}
{#          <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>#}
{#        {% elif user.is_authenticated and user.user_type == 3 %}#}
{#          <li><a href="{% url 'companyDashboard' %}" class="smoothScroll">Dashboard</a></li>#}
{#          <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>#}
{#        {% else %}#}
{#          <li><a href="{% url 'login' %}" class="smoothScroll">Login</a></li>#}
{#          <li><a href="{% url 'register' %}" class="smoothScroll">Register</a></li>#}
{#        {% endif %}#}
{#      </ul>#}
{##}
{#      <div class="" style="margin: auto; padding: 10px">#}
{#        <ul class="nav navbar-nav navbar-right">#}
{#          {% if user.is_authenticated %}#}
{#            <h4>Welcome {{ user.username }}</h4>#}
{#          {% endif %}#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- HOME -->#}
{#<section id="home">#}
{#  <div class="row">#}
{##}
{##}
{##}
{#    <div class="owl-carousel owl-theme home-slider">#}
{#      <div class="item item-first">#}
{#        <div class="caption">#}
{#          <div class="container">#}
{#            <div class="col-md-6 col-sm-12">#}
{#              <h1>Distance Learning Education Center</h1>#}
{#              <h3>Our online courses are designed to fit in your industry supporting all-round with latest#}
{#                technologies.</h3>#}
{#              <a href="#feature" class="section-btn btn btn-default smoothScroll">Discover more</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="item item-second">#}
{#        <div class="caption">#}
{#          <div class="container">#}
{#            <div class="col-md-6 col-sm-12">#}
{#              <h1>Start your journey with our practical courses</h1>#}
{#              <h3>Our online courses are built in partnership with technology leaders and are designed to meet industry#}
{#                demands.</h3>#}
{#              <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="item item-third">#}
{#        <div class="caption">#}
{#          <div class="container">#}
{#            <div class="col-md-6 col-sm-12">#}
{#              <h1>Efficient Learning Methods</h1>#}
{#              <h3>Nam eget sapien vel nibh euismod vulputate in vel nibh. Quisque eu ex eu urna venenatis sollicitudin#}
{#                ut at libero. Visit <a rel="nofollow" href="https://www.facebook.com/templatemo">templatemo</a> page.#}
{#              </h3>#}
{#              <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- FEATURE -->#}
{#<section id="feature">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-4 col-sm-4">#}
{#        <div class="feature-thumb">#}
{#          <span>01</span>#}
{#          <h3>Trending Courses</h3>#}
{#          <p>Known is free education HTML Bootstrap Template. You can modify in any way and use this for your#}
{#            website.</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-4 col-sm-4">#}
{#        <div class="feature-thumb">#}
{#          <span>02</span>#}
{#          <h3>Books & Library</h3>#}
{#          <p>You are allowed to use Known HTML Template for your commercial or non-commercial websites.</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-4 col-sm-4">#}
{#        <div class="feature-thumb">#}
{#          <span>03</span>#}
{#          <h3>Certified Teachers</h3>#}
{#          <p>Please spread a word about us. Template redistribution is NOT allowed on any download website.</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- ABOUT -->#}
{#<section id="about">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-6 col-sm-12">#}
{#        <div class="about-info">#}
{#          <h2>Start your journey to a better life with online practical courses</h2>#}
{##}
{#          <figure>#}
{#            <span><i class="fa fa-users"></i></span>#}
{#            <figcaption>#}
{#              <h3>Professional Trainers</h3>#}
{#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>#}
{#            </figcaption>#}
{#          </figure>#}
{##}
{#          <figure>#}
{#            <span><i class="fa fa-certificate"></i></span>#}
{#            <figcaption>#}
{#              <h3>International Certifications</h3>#}
{#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>#}
{#            </figcaption>#}
{#          </figure>#}
{##}
{#          <figure>#}
{#            <span><i class="fa fa-bar-chart-o"></i></span>#}
{#            <figcaption>#}
{#              <h3>Free for 3 months</h3>#}
{#              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>#}
{#            </figcaption>#}
{#          </figure>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-offset-1 col-md-4 col-sm-12">#}
{#        <div class="entry-form">#}
{#          <form action="#" method="post">#}
{#            <h2>Signup today</h2>afasdsdfasdsdfggd#}
{#            <input type="text" name="full name" class="form-control" placeholder="Full name" required="">#}
{##}
{#            <input type="email" name="email" class="form-control" placeholder="Your email address" required="">#}
{##}
{#            <input type="password" name="password" class="form-control" placeholder="Your password" required="">#}
{##}
{#            <button class="submit-btn form-control" id="form-submit">Get started</button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- TEAM -->#}
{#<section id="team">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-12 col-sm-12">#}
{#        <div class="section-title">#}
{#          <h2>Teachers <small>Meet Professional Trainers</small></h2>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-3 col-sm-6">#}
{#        <div class="team-thumb">#}
{#          <div class="team-image">#}
{#            <img src="{% static 'images/author-image1.jpg' %}" class="img-responsive" alt="">#}
{#          </div>#}
{#          <div class="team-info">#}
{#            <h3>Mark Wilson</h3>#}
{#            <span>I love Teaching</span>#}
{#          </div>#}
{#          <ul class="social-icon">#}
{#            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>#}
{#            <li><a href="#" class="fa fa-twitter"></a></li>#}
{#            <li><a href="#" class="fa fa-instagram"></a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-3 col-sm-6">#}
{#        <div class="team-thumb">#}
{#          <div class="team-image">#}
{#            <img src="{% static 'images/author-image2.jpg' %}" class="img-responsive" alt="">#}
{#          </div>#}
{#          <div class="team-info">#}
{#            <h3>Catherine</h3>#}
{#            <span>Education is the key!</span>#}
{#          </div>#}
{#          <ul class="social-icon">#}
{#            <li><a href="#" class="fa fa-google"></a></li>#}
{#            <li><a href="#" class="fa fa-instagram"></a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-3 col-sm-6">#}
{#        <div class="team-thumb">#}
{#          <div class="team-image">#}
{#            <img src="{% static 'images/author-image3.jpg' %}" class="img-responsive" alt="">#}
{#          </div>#}
{#          <div class="team-info">#}
{#            <h3>Jessie Ca</h3>#}
{#            <span>I like Online Courses</span>#}
{#          </div>#}
{#          <ul class="social-icon">#}
{#            <li><a href="#" class="fa fa-twitter"></a></li>#}
{#            <li><a href="#" class="fa fa-envelope-o"></a></li>#}
{#            <li><a href="#" class="fa fa-linkedin"></a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-3 col-sm-6">#}
{#        <div class="team-thumb">#}
{#          <div class="team-image">#}
{#            <img src="{% static 'images/author-image4.jpg' %}" class="img-responsive" alt="">#}
{#          </div>#}
{#          <div class="team-info">#}
{#            <h3>Andrew Berti</h3>#}
{#            <span>Learning is fun</span>#}
{#          </div>#}
{#          <ul class="social-icon">#}
{#            <li><a href="#" class="fa fa-twitter"></a></li>#}
{#            <li><a href="#" class="fa fa-google"></a></li>#}
{#            <li><a href="#" class="fa fa-behance"></a></li>#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- Courses -->#}
{#<section id="courses">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-12 col-sm-12">#}
{#        <div class="section-title">#}
{#          <h2>Popular Courses <small>Upgrade your skills with newest courses</small></h2>#}
{#        </div>#}
{##}
{#        <div class="owl-carousel owl-theme owl-courses">#}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="courses-thumb">#}
{#                <div class="courses-top">#}
{#                  <div class="courses-image">#}
{#                    <img src="{% static 'images/courses-image1.jpg' %}" class="img-responsive" alt="">#}
{#                  </div>#}
{#                  <div class="courses-date">#}
{#                    <span><i class="fa fa-calendar"></i> 12 / 7 / 2018</span>#}
{#                    <span><i class="fa fa-clock-o"></i> 7 Hours</span>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="courses-detail">#}
{#                  <h3><a href="#">Social Media Management</a></h3>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
{#                </div>#}
{##}
{#                <div class="courses-info">#}
{#                  <div class="courses-author">#}
{#                    <img src="{% static 'images/author-image1.jpg' %}" class="img-responsive" alt="">#}
{#                    <span>Mark Wilson</span>#}
{#                  </div>#}
{#                  <div class="courses-price">#}
{#                    <a href="#"><span>USD 25</span></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="courses-thumb">#}
{#                <div class="courses-top">#}
{#                  <div class="courses-image">#}
{#                    <img src="{% static 'images/courses-image2.jpg' %}" class="img-responsive" alt="">#}
{#                  </div>#}
{#                  <div class="courses-date">#}
{#                    <span><i class="fa fa-calendar"></i> 20 / 7 / 2018</span>#}
{#                    <span><i class="fa fa-clock-o"></i> 4.5 Hours</span>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="courses-detail">#}
{#                  <h3><a href="#">Graphic & Web Design</a></h3>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
{#                </div>#}
{##}
{#                <div class="courses-info">#}
{#                  <div class="courses-author">#}
{#                    <img src="{% static 'images/author-image2.jpg' %}" class="img-responsive" alt="">#}
{#                    <span>Jessica</span>#}
{#                  </div>#}
{#                  <div class="courses-price">#}
{#                    <a href="#"><span>USD 80</span></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="courses-thumb">#}
{#                <div class="courses-top">#}
{#                  <div class="courses-image">#}
{#                    <img src="{% static 'images/courses-image3.jpg' %}" class="img-responsive" alt="">#}
{#                  </div>#}
{#                  <div class="courses-date">#}
{#                    <span><i class="fa fa-calendar"></i> 15 / 8 / 2018</span>#}
{#                    <span><i class="fa fa-clock-o"></i> 6 Hours</span>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="courses-detail">#}
{#                  <h3><a href="#">Marketing Communication</a></h3>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
{#                </div>#}
{##}
{#                <div class="courses-info">#}
{#                  <div class="courses-author">#}
{#                    <img src="{% static 'images/author-image3.jpg' %}" class="img-responsive" alt="">#}
{#                    <span>Catherine</span>#}
{#                  </div>#}
{#                  <div class="courses-price free">#}
{#                    <a href="#"><span>Free</span></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="courses-thumb">#}
{#                <div class="courses-top">#}
{#                  <div class="courses-image">#}
{#                    <img src="{% static 'images/courses-image4.jpg' %}" class="img-responsive" alt="">#}
{#                  </div>#}
{#                  <div class="courses-date">#}
{#                    <span><i class="fa fa-calendar"></i> 10 / 8 / 2018</span>#}
{#                    <span><i class="fa fa-clock-o"></i> 8 Hours</span>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="courses-detail">#}
{#                  <h3><a href="#">Summer Kids</a></h3>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
{#                </div>#}
{##}
{#                <div class="courses-info">#}
{#                  <div class="courses-author">#}
{#                    <img src="{% static 'images/author-image1.jpg' %}" class="img-responsive" alt="">#}
{#                    <span>Mark Wilson</span>#}
{#                  </div>#}
{#                  <div class="courses-price">#}
{#                    <a href="#"><span>USD 45</span></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="courses-thumb">#}
{#                <div class="courses-top">#}
{#                  <div class="courses-image">#}
{#                    <img src="{% static 'images/courses-image5.jpg' %}" class="img-responsive" alt="">#}
{#                  </div>#}
{#                  <div class="courses-date">#}
{#                    <span><i class="fa fa-calendar"></i> 5 / 10 / 2018</span>#}
{#                    <span><i class="fa fa-clock-o"></i> 10 Hours</span>#}
{#                  </div>#}
{#                </div>#}
{##}
{#                <div class="courses-detail">#}
{#                  <h3><a href="#">Business &amp; Management</a></h3>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
{#                </div>#}
{##}
{#                <div class="courses-info">#}
{#                  <div class="courses-author">#}
{#                    <img src="{% static 'images/author-image2.jpg' %}" class="img-responsive" alt="">#}
{#                    <span>Jessica</span>#}
{#                  </div>#}
{#                  <div class="courses-price free">#}
{#                    <a href="#"><span>Free</span></a>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- TESTIMONIAL -->#}
{#<section id="testimonial">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-12 col-sm-12">#}
{#        <div class="section-title">#}
{#          <h2>Student Reviews <small>from around the world</small></h2>#}
{#        </div>#}
{##}
{#        <div class="owl-carousel owl-theme owl-client">#}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="tst-image">#}
{#                <img src="{% static 'images/tst-image1.jpg' %}" class="img-responsive" alt="">#}
{#              </div>#}
{#              <div class="tst-author">#}
{#                <h4>Jackson</h4>#}
{#                <span>Shopify Developer</span>#}
{#              </div>#}
{#              <p>You really do help young creative minds to get quality education and professional job search#}
{#                assistance. I’d recommend it to everyone!</p>#}
{#              <div class="tst-rating">#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="tst-image">#}
{#                <img src="{% static 'images/tst-image2.jpg' %}" class="img-responsive" alt="">#}
{#              </div>#}
{#              <div class="tst-author">#}
{#                <h4>Camila</h4>#}
{#                <span>Marketing Manager</span>#}
{#              </div>#}
{#              <p>Trying something new is exciting! Thanks for the amazing law course and the great teacher who was able#}
{#                to make it interesting.</p>#}
{#              <div class="tst-rating">#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="tst-image">#}
{#                <img src="{% static 'images/tst-image3.jpg' %}" class="img-responsive" alt="">#}
{#              </div>#}
{#              <div class="tst-author">#}
{#                <h4>Barbie</h4>#}
{#                <span>Art Director</span>#}
{#              </div>#}
{#              <p>Donec erat libero, blandit vitae arcu eu, lacinia placerat justo. Sed sollicitudin quis felis vitae#}
{#                hendrerit.</p>#}
{#              <div class="tst-rating">#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-4">#}
{#            <div class="item">#}
{#              <div class="tst-image">#}
{#                <img src="{% static 'images/tst-image4.jpg' %}" class="img-responsive" alt="">#}
{#              </div>#}
{#              <div class="tst-author">#}
{#                <h4>Andrio</h4>#}
{#                <span>Web Developer</span>#}
{#              </div>#}
{#              <p>Nam eget mi eu ante faucibus viverra nec sed magna. Vivamus viverra sapien ex, elementum varius ex#}
{#                sagittis vel.</p>#}
{#              <div class="tst-rating">#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#                <i class="fa fa-star"></i>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- CONTACT -->#}
{#<section id="contact">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-6 col-sm-12">#}
{#        <form id="contact-form" role="form" action="" method="post">#}
{#          <div class="section-title">#}
{#            <h2>Contact us <small>we love conversations. let us talk!</small></h2>#}
{#          </div>#}
{##}
{#          <div class="col-md-12 col-sm-12">#}
{#            <input type="text" class="form-control" placeholder="Enter full name" name="name" required="">#}
{##}
{#            <input type="email" class="form-control" placeholder="Enter email address" name="email" required="">#}
{##}
{#            <textarea class="form-control" rows="6" placeholder="Tell us about your message" name="message"#}
{#                      required=""></textarea>#}
{#          </div>#}
{##}
{#          <div class="col-md-4 col-sm-12">#}
{#            <input type="submit" class="form-control" name="send message" value="Send Message">#}
{#          </div>#}
{##}
{#        </form>#}
{#      </div>#}
{##}
{#      <div class="col-md-6 col-sm-12">#}
{#        <div class="contact-image">#}
{#          <img src="{% static 'images/contact-image.jpg' %}" class="img-responsive" alt="Smiling Two Girls">#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</section>#}
{##}
{##}
{#<!-- FOOTER -->#}
{#<footer id="footer">#}
{#  <div class="container">#}
{#    <div class="row">#}
{##}
{#      <div class="col-md-4 col-sm-6">#}
{#        <div class="footer-info">#}
{#          <div class="section-title">#}
{#            <h2>Headquarter</h2>#}
{#          </div>#}
{#          <address>#}
{#            <p>1800 dapibus a tortor pretium,<br> Integer nisl dui, ABC 12000</p>#}
{#          </address>#}
{##}
{#          <ul class="social-icon">#}
{#            <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>#}
{#            <li><a href="#" class="fa fa-twitter"></a></li>#}
{#            <li><a href="#" class="fa fa-instagram"></a></li>#}
{#          </ul>#}
{##}
{#          <div class="copyright-text">#}
{#            <p>Copyright &copy; 2019 Company Name</p>#}
{##}
{#            <p>Design: TemplateMo</p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-4 col-sm-6">#}
{#        <div class="footer-info">#}
{#          <div class="section-title">#}
{#            <h2>Contact Info</h2>#}
{#          </div>#}
{#          <address>#}
{#            <p>+65 2244 1100, +66 1800 1100</p>#}
{#            <p><a href="mailto:youremail.co">hello@youremail.co</a></p>#}
{#          </address>#}
{##}
{#          <div class="footer_menu">#}
{#            <h2>Quick Links</h2>#}
{#            <ul>#}
{#              <li><a href="#">Career</a></li>#}
{#              <li><a href="#">Investor</a></li>#}
{#              <li><a href="#">Terms & Conditions</a></li>#}
{#              <li><a href="#">Refund Policy</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="col-md-4 col-sm-12">#}
{#        <div class="footer-info newsletter-form">#}
{#          <div class="section-title">#}
{#            <h2>Newsletter Signup</h2>#}
{#          </div>#}
{#          <div>#}
{#            <div class="form-group">#}
{#              <form action="#" method="get">#}
{#                <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email"#}
{#                       required="">#}
{#                <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">#}
{#              </form>#}
{#              <span><sup>*</sup> Please note - we do not spam your email.</span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</footer>#}
{##}
{##}
{#<!-- SCRIPTS -->#}
{#<script src="{% static 'js/jquery.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'js/owl.carousel.min.js' %}"></script>#}
{#<script src="{% static 'js/smoothscroll.js' %}"></script>#}
{#<script src="{% static 'js/custom.js' %}"></script>#}
{##}
{#</body>#}
{#</html>#}