{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Careers &mdash; Website Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="top">


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="{% url 'home' %}">Careers</a></div>

        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
            <li><a href="job-listings.html">Recruiters</a></li>
            <li><a href="services.html">Companies</a></li>
            <li><a href="{% url 'searchJobs' %}">Job Listings</a></li>
            {#            <li><a href="about.html">About</a></li>#}
            {#            <li><a href="{% url 'contactus' %}>About</a></li>#}

            {% if user.is_authenticated and user.user_type == 1 %}
              <li><a href="{% url 'adminDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% elif user.is_authenticated and user.user_type == 2 %}
              <li><a href="{% url 'studentDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% elif user.is_authenticated and user.user_type == 3 %}
              <li><a href="{% url 'companyDashboard' %}" class="smoothScroll">Dashboard</a></li>
              <li><a href="{% url 'logout' %}" class="smoothScroll">Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}" class="smoothScroll">Login</a></li>
              <li><a href="{% url 'register' %}" class="smoothScroll">Register</a></li>
            {% endif %}

          </ul>
        </nav>

        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <a href="{% url 'contactus' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                    class="mr-2 icon-paper-plane"></span>Contact Us</a>
          </div>

          {#          <a href="{% url 'contactus' %}" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span#}
          {#                  class="icon-menu h3 m-0 p-0 mt-2"></span></a>#}
        </div>

      </div>
    </div>
  </header>

  <!-- HOME -->
  <section class="home-section section-hero inner-page overlay bg-image"
           style="background-image: url({% static 'images/hero_1.jpg' %});"
           id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="mb-5 text-center">
            <h1 class="text-white font-weight-bold">Job Listings</h1>
            <p>Find your dream jobs in our powerful career website template.</p>
          </div>
        </div>
      </div>
    </div>


  </section>


  <section class="site-section">
    <div class="container">

      <div class="row mb-5 justify-content-center">
        <div class="col-md-7 text-center">
          <h1>{{ job_title }}</h1>
          <h2 class="section-title mb-2">{{ total_jobs }} Job Listed </h2>
        </div>
      </div>


      <div class="mb-5">

        {% for job in job_list %}

          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
              {#              <a href="job-single.html"><img src="{% static 'images/featured-listing-1.jpg' %}" alt="Image"#}
              {#                                             class="img-fluid"></a>#}
{#              {{ job.company_id.account_user.pic.url }}#}
              {% if  job.company_id.account_user.pic.url is not None %}

                <a href="job-single.html"><img src="{{ job.company_id.account_user.pic.url }}" alt="Image"
                                               id="wizardPicturePreview"
                                               class="img-fluid"></a>
              {% else %}
                <a href="job-single.html"><img src="{% static 'images/featured-listing-1.jpg' %}" alt="Image"
                                               id="wizardPicturePreview"
                                               class="img-fluid"></a>
              {% endif %}

            </div>
            <div class="col-md-4">
              {% if job.job_type == 'Permanent' %}
                <span class="badge badge-success  px-2 py-1 mb-3">{{ job.job_type }}</span>
              {% else %}
                <span class="badge badge-primary  px-2 py-1 mb-3">{{ job.job_type }}</span>
              {% endif %}

              <h2><a href="job-single.html">{{ job.job_title }} - </a></h2>
              <p class="meta">Company: <strong>{{ job.compan }}</strong> In: <strong>Design</strong>
              </p>
            </div>
            <div class="col-md-3 text-left">
              <h3>{{ job.job_city }}</h3>
              <span class="meta">{{ job.job_state }} - {{ job.job_country }}</span>
            </div>
            <div class="col-md-3 text-md-right">
              <strong class="text-black">{{ job.salary_min }} - {{ job.salary_max }}</strong>
            </div>
          </div>

        {% endfor %}

        {#          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">#}
        {#            <div class="col-md-2">#}
        {#              <a href="job-single.html"><img src="{%  static 'images/featured-listing-2.jpg'%}" alt="Image" class="img-fluid"></a>#}
        {#            </div>#}
        {#            <div class="col-md-4">#}
        {#              <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>#}
        {#              <h2><a href="job-single.html">Creative Director in Intercom</a> </h2>#}
        {#              <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>#}
        {#            </div>#}
        {#            <div class="col-md-3 text-left">#}
        {#              <h3>London</h3>#}
        {#              <span class="meta">United Kingdom</span>#}
        {#            </div>#}
        {#            <div class="col-md-3 text-md-right">#}
        {#              <strong class="text-black">$60k &mdash; $100k</strong>#}
        {#            </div>#}
        {#          </div>#}

      </div>

      <div class="row pagination-wrap">

        <div class="col-md-6 text-center text-md-left">
          <div class="custom-pagination ml-auto">
            <a href="#" class="prev">Previous</a>
            <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
            </div>
            <a href="#" class="next">Next</a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="site-section py-4 mb-5 border-top">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-12 text-center mt-4 mb-5">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h2 class="section-title mb-2">Our Candidates Work In Company</h2>
              <p class="lead">Porro error reiciendis commodi beatae omnis similique voluptate rerum ipsam fugit
                mollitia ipsum facilis expedita tempora suscipit iste</p>
            </div>
          </div>

        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="{% static 'images/logo_mailchimp.svg' %}" alt="Image" class="img-fluid logo-1">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="{% static 'images/logo_paypal.svg' %}" alt="Image" class="img-fluid logo-2">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="{% static 'images/logo_stripe.svg' %}" alt="Image" class="img-fluid logo-3">
        </div>
        <div class="col-6 col-lg-3 col-md-6 text-center">
          <img src="{% static 'images/logo_visa.svg' %}" alt="Image" class="img-fluid logo-4">
        </div>
      </div>
    </div>
  </section>


  <section class="py-5 bg-image overlay-primary fixed overlay"
           style="background-image: url({% static 'images/hero_1.jpg' %});">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Looking For A Job?</h2>
          <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci
            impedit.</p>
        </div>
        <div class="col-md-3 ml-auto">
          <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">


    <div class="container">
      <div class="row mb-5">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Search Trending</h3>
          <ul class="list-unstyled">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Web Developers</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Company</h3>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Support</h3>
          <ul class="list-unstyled">
            <li><a href="#">Support</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Contact Us</h3>
          <div class="footer-social">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
            All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>

<!-- SCRIPTS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/stickyfill.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- <script src="js/bootstrap-select.min.js'%}"></script> -->

<script src="{% static 'js/custom.js' %}"></script>
{% include 'companies/editprofilejs.html' %}

</body>

</html>